body {
    background-color: #eee;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    width: 50%;
    height: 50vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

h1,
label{
    font-size: 20px;
    color: #333;
}

select {
    width: 70%;
    border: 1px #333 solid;
}


input{
    width: 90%;
    height: 100px;
    background: #fff;
    border: 1px #333 solid;
    font-size: 20px;
}

.output {
    width: 90%;
    height: 100px;
    padding: 30px 10px;
    background: #fff;
    font-size: 20px;
    color: #333;
}


.btn {
    border: 1px #333 solid;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}